* {
    box-sizing: border-box;
  }

@font-face {
font-family: pixeboy;
src: url(pixeboy-z8xgd-webfont.woff);
}

body{
    font-family: pixeboy;
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    font-size: 80px;
}

#header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

form{
    text-align: center;
    margin-top: 100px;
}

#start{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.turndiv{
    text-align: center;
    font-size: 40px;
    color: pink;
}

.grid {
    display: grid;
    
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 0.5px solid black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    height: 500px;
    gap: 20px;
    color: black;

}

.grid > div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}


.btnContainer {
    height: 200px;
    position: relative;
    
  }
  
  #btn {
 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  input{
    background-image: linear-gradient(to right, pink, lightgreen);
    font-family: pixeboy;
    font-size: large;
  }

  input:invalid {
    border: 2px  red;
  }

  #btnOne{
    font-family: pixeboy;
    font-size: medium;
  }

  #btnTwo{
    font-family: pixeboy;
    font-size:medium;
  }

  #btn{
    background-image: linear-gradient(to right, pink, lightgreen);
    font-family: pixeboy;
    font-size:medium;
  }